
{% block content %}
<h1>login</h1>

<form method="POST" action="">
    {% csrf_token %}
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">username</span>
        </div>
        <input type="text" name="username" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">password</span>
        </div>
        <input type="text"  name="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
   

    <button type="submit" class="btn btn-primary">Submit</button>|||<a href="{% url 'home' %}">BACK</a>

    <a href="{% url 'registerf' %}">REGISTERs</a>
</form>
{% endblock %}