{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
</head>
<body>


    <h1>NAVIGATION BAR</h1><br>
    
    {%block content%}
    
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Product <b>Details</b></h2></div>
                        <div class="col-sm-4">
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input type="text" class="form-control" placeholder="Search&hellip;">
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            
                            <th>product</th>
                            <th>catagory</th>
                            <th>price</th>
                            


                        </tr>
                        {% for i in products %}
                            <tr>
                                <td> {{i.name}}</td>  
                                <td> {{i.category}}</td>  
                                <td> {{i.price}}</td>                      
                            </tr>
                            {% endfor %}
        
                    </tbody>
                </table>
               
            </div>
        </div>  
    </div> 
    {%endblock%}
</body>
</html>